In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
# API endpoint for the SpaceX launch data
spacex_url = "https://api.spacexdata.com/v4/launches"

# Get data from the API
response = requests.get(spacex_url)

# Check response
print(response.status_code)

# Convert response to JSON
data = response.json()

# Convert JSON to DataFrame
data_falcon9 = pd.json_normalize(data)

# Display first 5 rows
data_falcon9.head()

200

,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,...,links.reddit.media,links.reddit.recovery,links.flickr.small,links.flickr.original,links.presskit,links.webcast,links.youtube_id,links.article,links.wikipedia,fairings
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=0a_00nJ_Y88,0a_00nJ_Y88,https://www.space.com/2196-spacex-inaugural-fa...,https://en.wikipedia.org/wiki/DemoSat,NaN
1,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=Lk4zQ2wP-Nc,Lk4zQ2wP-Nc,https://www.space.com/3590-spacex-falcon-1-roc...,https://en.wikipedia.org/wiki/DemoSat,NaN
2,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=v0w9p3U8860,v0w9p3U8860,http://www.spacex.com/news/2013/02/11/falcon-1...,https://en.wikipedia.org/wiki/Trailblazer_(sat...,NaN
3,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,True,[],Ratsat was carried to orbit on the first succe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=dLQ2tZEH6G0,dLQ2tZEH6G0,https://en.wikipedia.org/wiki/Ratsat,https://en.wikipedia.org/wiki/Ratsat,NaN
4,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,True,[],None,[],[],...,None,None,[],[],http://www.spacex.com/press/2012/12/19/spacexs...,https://www.youtube.com/watch?v=yTaIDooc8Og,yTaIDooc8Og,http://www.spacex.com/news/2013/02/12/falcon-1...,https://en.wikipedia.org/wiki/RazakSAT,NaN

In [3]:
# Calculate the mean of PayloadMass column
payload_mean = data_falcon9['payloads'].apply(lambda x: len(x) if isinstance(x, list) else np.nan).mean()

# Replace missing values (just an example, modify based on actual column)
data_falcon9['PayloadMass'] = data_falcon9['payloads'].apply(lambda x: len(x) if isinstance(x, list) else payload_mean)

# Save to CSV
data_falcon9.to_csv('dataset_part_1.csv', index=False)

In [4]:
columns = ['name', 'date_utc', 'rocket', 'payloads', 'launchpad', 'cores', 'success', 'details']
data_falcon9 = data_falcon9[columns]
data_falcon9.head()

,name,date_utc,rocket,payloads,launchpad,cores,success,details
0,FalconSat,2006-03-24T22:30:00.000Z,5e9d0d95eda69955f709d1eb,[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",False,Engine failure at 33 seconds and loss of vehicle
1,DemoSat,2007-03-21T01:10:00.000Z,5e9d0d95eda69955f709d1eb,[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",False,Successful first stage burn and transition to ...
2,Trailblazer,2008-08-03T03:34:00.000Z,5e9d0d95eda69955f709d1eb,"[5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...",5e9e4502f5090995de566f86,"[{'core': '5e9e289ef3591814873b2625', 'flight'...",False,Residual stage 1 thrust led to collision betwe...
3,RatSat,2008-09-28T23:15:00.000Z,5e9d0d95eda69955f709d1eb,[5eb0e4b7b6c3bb0006eeb1e5],5e9e4502f5090995de566f86,"[{'core': '5e9e289ef3591855dc3b2626', 'flight'...",True,Ratsat was carried to orbit on the first succe...
4,RazakSat,2009-07-13T03:35:00.000Z,5e9d0d95eda69955f709d1eb,[5eb0e4b7b6c3bb0006eeb1e6],5e9e4502f5090995de566f86,"[{'core': '5e9e289ef359184f103b2627', 'flight'...",True,None

In [5]:
# This will just count how many payloads were listed (as an approximation)
data_falcon9['PayloadMass'] = data_falcon9['payloads'].apply(lambda x: len(x) if isinstance(x, list) else np.nan)

# Now fill missing values with mean
payload_mean = data_falcon9['PayloadMass'].mean()
data_falcon9['PayloadMass'].replace(np.nan, payload_mean, inplace=True)

In [6]:
data_falcon9.to_csv('dataset_part_1.csv', index=False)